extends ../layout.pug

block content
    .container
        h1.my-5 Wish List
        .row
            each product in products
                if product.status == "Registered"
                    .col-lg-4.col-md-6.mb-4
                        a.card.h-100(href="/product/" + product._id)
                            img.card-img-top(src=`${product.image}`, alt='')
                            .card-footer
                                if product.isAuction
                                    h5 Auction
                                else
                                    h5 Buy It Now
                            .card-body
                                h4.card-title=product.name
                                h5="₩"+product.price
