doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Flea Market
  // Icon Image
  link(rel='icon', href='#')
  // Bootstrap CSS
  link(rel='stylesheet', href='/content/css/bootstrap.min.css')
  // Owl Carousel CSS
  link(rel='stylesheet', href='/content/owlcarousel/owl.carousel.min.css')
  link(rel='stylesheet', href='/content/owlcarousel/owl.theme.default.min.css')
  // Data Table CSS
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css')
  // Custom CSS
  link(rel='stylesheet', href='/content/css/style.css')
  // Font Awesome
  script(src='https://kit.fontawesome.com/77ef208b4e.js', crossorigin='anonymous')
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    #navbarNav.collapse.navbar-collapse.justify-content-center.order-1
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/product') All Products
        li.nav-item
          a.nav-link(href='/category') Category
        if user
          if user.role === 'Seller'
            li.nav-item
              a.nav-link(href='/product/register') Register
          else if user.role === 'Admin'
            li.nav-item
              a.nav-link(href='/member') Member
            li.nav-item
              a.nav-link(href='/logs') Log
          else
            li.nav-item
              a.nav-link(href='/wishlist') Wish List
          li.nav-item
            form#logout-form(method="post" action="/user/logout")
              a.nav-link(href='javascript:document.getElementById("logout-form").submit()') Logout

    .nav-margin
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
        span.navbar-toggler-icon
    a.navbar-brand.order-0.nav-margin(href='/')
      img(src='/content/img/logo2.png', alt='Logo')
    ul#nav_fixed_icon.navbar-nav.flex-row.d-md-flex.order-2
      li.nav-item
        a#search.nav-link(href='/search')
          i.fas.fa-search
      li.nav-item
        a.nav-link(href='/user')
          i.fas.fa-user
      
//
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertModal">
  Launch modal
  </button>
// Modal
#alertModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='alertModal', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
// Contents
main
  block content
// Footer
footer.py-5.bg-light
  .container
    p.m-0.text-center.text-dark Copyright &copy; Flea Market 2019
// JQuery JavaScript
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
// Bootstrap JavaScript
script(src='/content/js/bootstrap.min.js')
// Owl Carousel JavaScript
script(src='/content/owlcarousel/owl.carousel.min.js')
// Data Table JS
script(type='text/javascript', src='https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js')
// Custom JavaScript
script(src='/content/js/custom.js')
