extends ../layout.pug

block content
  .container
    h1.my-5 Add Category
    form#add-category-form.center-form(method='post')
      .form-group
        .col-md-6
          input#name.form-control.input-field(name='name', type='text', placeholder='Category Name', required='required', autofocus='autofocus')
          label(for='name') Category Name
          input#add-category-btn.btn.btn-light.btn-block.form-btn.my-3(type='submit', value='Add')
