extends ../layout.pug

block content
  h1.head-title Welcome to ShopStop!
  form#search-form
    input(type='text', name='query', placeholder='Search...')
    input(type='submit', value='Search')
  .cards
    each product in category.products
      .product-card
        img.product-img(src=`${product.image}`)
        h2=product.name
        p=product.description