extends ../layout.pug

block content 
  .container.login
    .card.not-product.card-login.mx-auto.my-5
      .card-header Login
      .card-body
        form(method='post')
          .form-group
            .form-label-group
              input#username.form-control(name='username', type='text', placeholder='User Name', required='required', autofocus='autofocus')
              label(for='username') User Name
          .form-group
            .form-label-group
              input#password.form-control(name='password', type='password', placeholder='Password', required='required')
              label(for='password') Password
          input.btn.btn-light.btn-block.form-btn(type='submit', value='Login')
        .text-center.a-tag
          a.d-block.small.mt-3(href='/user/register') Register an Account
