//- logout button, add category

extends ../layout.pug

block content
    // Contents
    .container
        h1.my-5 My Page
        .row
            // User info
            .col.account-info-container
                .account-info
                    h4.mb-4 Account Info
                    ul
                        li
                            p Role
                            span=': '+user.role
                        li
                            p Name
                            span=': '+user.name
                        li
                            p Email
                            span=': '+user.email
                        li
                            p Address
                            span=': '+user.address
        // Add Category
        h1.my-5 Add Category
        form(class="account-info-container" action='category/add', method="get")
            input.btn.btn-light.form-btn(style="width:100%" type='submit', value='Add Category')
