extends ../layout.pug

block content
  .container
    h1.my-5 Add Product
    .card.not-product.card-register.mx-auto.my-5
      //- .card-header
      .card-body
        form.form.center-form(method='post', enctype='multipart/form-data')
          .form-group
            .form-row
              .col-md-6
                select#category.input-field.form-control(name='category')
                  each category in categories
                    option(value=`${category._id}`)=category.name
                label(for='category') Category
              .col-md-6
                .form-label-group
                  select#isAuction.input-field.form-control(name='isAuction')
                    option true
                    option false
                  label(for='isAuction') Auction
          .form-group
            .form-row
              .col-md-6
                .form-label-group
                  input#name.form-control(name='name', type='text', placeholder='Name', required='required', autofocus='autofocus')
                  label(for='name') Name
              .col-md-6
                .form-label-group
                  input#price.form-control(name='price', type='number', placeholder='Price', required='required', autofocus='autofocus')
                  label(for='price') Price
          .form-group
            .form-label-group
              input#description.form-control(name='description', type='text', placeholder='Description', required='required')
              label(for='description') Description
          .form-group
            .form-row
              .col-md-6
                .input-group.input-file(name='image')
                  span.input-group-btn
                    button.btn.btn-light.mr-2.btn-choose(type='button') Upload Image
                  input#image.mr-2.file-upload.form-control(type='text', placeholder='Choose a file...')
                  span.input-group-btn
                    button.btn.btn-dark.btn-reset(type='button') Reset
          .form-group
            input.btn.btn-light.btn-block.form-btn(type='submit', value='Register')
