extends ../layout.pug

block content
  //- Header Carousel
  .container
    .owl-carousel.owl-theme
      .item
        img(src='img/img.png', alt='')
        .item-text
          h1 1
          h5 This is the first item. This is the first item. This is the first item.
      .item
        img(src='img/img.png', alt='')
        .item-text
          h1 2
          h5 This is the Second item. This is the Second item. This is the Second item.
      .item
        img(src='img/img.png', alt='')
        .item-text
          h1 3
          h5 This is the Third item. This is the Third item. This is the Third item.
  //- Contents
  .container
    h1.my-5 Items
    //- Items
    .row
      each product in products
        .col-lg-4.col-md-6.mb-4
          .card.h-100
            img.card-img-top(src=`${product.image}`, alt='')
            .card-footer
              if product.isAuction
                h5 Auction
              else
                h5 Buy It Now
            .card-body
              h4.card-title=product.name
              h5=product.price+"₩"
              p.card-text=product.description