extends ../layout.pug

block content
    .container
        
        .row
            .col-lg-3
                form.form.center-form(method='post' action="/search" enctype='multipart/form-data')
                    h1.my-5 Search
                    h3.pt-3.search-label Product Name
                    input#checkbox1.checkbox.pull-right.mx-2(type='checkbox')
                    .my-3
                        input.form-control(type='text', placeholder='Product Name', aria-label='Product Name')
                    h3.pt-3.search-label Seller Name
                    input#checkbox2.checkbox.pull-right.mx-2(type='checkbox')
                    .my-3
                        input.form-control(type='text', placeholder='Seller Name', aria-label='Seller Name')
                    h3.pt-3.search-label Price
                    input#checkbox3.checkbox.pull-right.mx-2(type='checkbox')
                    .my-3
                        input.form-control(type='number', placeholder='Low Price', aria-label='Price')
                        input.mt-1.form-control(type='number', placeholder='High Price', aria-label='Price')
                    .my-4
                        input.btn.btn-light.form-btn(style="width:100%" type='submit', value='Search')
            .col-lg-9.my-5
                .row
                    each product in products
                        .col-lg-4.col-md-6.mb-4
                            a.card.h-100(href="/product/:id")
                                img.card-img-top(src=`${product.image}`, alt='')
                                .card-footer
                                    if product.isAuction
                                        h5 Auction
                                    else
                                        h5 Buy It Now
                                .card-body
                                    h4.card-title=product.name
                                    h5="₩"+product.price
                                    p.card-text=product.description
